<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TEST</title>
    <link rel="stylesheet" href="{% static 'css/teststyle.css' %}">
    </head>
  <body>
    <div class ="heading">
      <h1> Hello, Guest</h1>
    </div>
    <div class ="questionblock">
      <div class="que">

      <h2>who discovered python language?</h2>
    </div>
    <div class="OPTIONS">

      <input type="radio" name="answer"><span>ken thopson</span>
    </div>
    <div class="OPTIONS">
      <input type="radio" name="answer"><span>henry</span>

    </div>
    <div class="OPTIONS">
      <input type="radio" name="answer"><span>ken williamson </span>
    </div>
    <div class="OPTIONS">
      <input type="radio" name="answer"><span>ken shukla</span>
    </div>

<div class="submit">
  <input type="submit">
</div>
</div>
</body>
</html>
